* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(images/fondobody.jpg);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.menu .titulo {
  text-align: center;
  margin-top: 50px;
  background-image: url(images/books-g844a45215_1280.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: black;
  border-radius: solid;
}
footer {
  text-align: center;
  color: red;
  padding-top: 10px;
}
footer img {
  display: inline-block;
  margin: 10px;
  width: 70px;
}
